<h1><%= author.name %></h1>

<div class="author-buttons">
    <a href="/authors/<%= author._id %>/edit" class="btn btn-primary">Edit</a>
    <%- include('../partials/deleteForm', {url : `/authors/${author.id}` , btnStyle: "btn btn-secondary"}) %> 

</div>

<% if(booksByAuthor.length > 0) { %>
    <h2>Books By Author </h2>
    <div class="card card-bg book-row">
        <% booksByAuthor.forEach(book => { %>
            <div>
                <a href="/books/<%= book.id %>" class="authors-book-container">
                    <img height="150" width="200" src="<%= book.coverImagePath%>"  alt="author's books">
                </a>
               <div style="height:4rem; width:8rem"><%= book.title%></div>
            </div>
        <% }) %> 
    </div>
<% } %>  